*{
    font-family: " inter", sans-serif;
}
header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    
}

.logo {
    width: 25%;
}

.logo span {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.navigation {
    width: 50%;
}

.navigation nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.navigation nav a {
    text-decoration: none;
    color: #222;
}

.navigation nav a:hover {
    color: #034BFF;
    text-decoration: underline;
}

.recherche-barre {
    width: 10%;
    text-align: center;
    margin-right: -50px;
}

.recherche-barre img {
    width: 25px;
}

.button-inscription {
    width: 15%;
    text-align: center;
}

.button-inscription a {
    background-color: #034BFF;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
}

#section1 {
    display: flex;
    flex-direction: row-reverse;
}

.image {
    width: 60%;
}

.image img {
    width: 100%;
    height: 100%;
}

.texte {
    width: 40%;
    color: white;
    background-color: #08111D;
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px 80px 20px 80px;

}

.texte h1 {
    font-size: 90px;
    line-height: 0.85;
    margin-bottom: 10px;
}

.texte h1 span {
    font-size: 75px;

    color: #034BFF;
}

.texte h1 small {
    color: #C7F64A;
}

.texte strong {
    font-weight: bold;
    font-size: 45px;
    display: block;
    margin-top: 0;
}

.btn-primary {

    padding: 10px;
    border-radius: 5px;
    border-color: #08111D;
    background-color: #034BFF;
    color: white;


}

.btn-secondary {
    padding: 10px;
    border-radius: 5px;
    border-color: #034BFF;
    background-color: #08111D;
    color: white;
}

.communauté {
    margin-top: 50px;
    background-color: #08111D;
    display: flex;
    color: #08111D;
    width: 100%;
    gap: 60px;
}

.cercle {
    margin: 20px 0px 20px 0px;
    display: flex;
    gap: 0;

}

.cercle strong {
    padding: 5px;
    font-size: medium;
    border: 5px solid #D7C3B6;
    background-color: #D7C3B6;
    border-radius: 50%;
}

.cercle strong:nth-child(even) {
    border: 5px solid #B8C9CF;
    background-color: #B8C9CF;
    ;
}

.prgrph {
    color: white;
}

#section2 {
    display: flex;
    background-color: white;
}

.bar {
    width: 25%;
}
.bar span {
    color: #034BFF;
    font-size: 50px;
    font-weight: bold;
    padding-left: 40px;
}

.bar strong {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.bar small {
    padding-left: 50px;
    color:#47526A;

}