header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
}

.logo {
    width: 25%;
}

.logo span {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.navigation {
    width: 50%;
}

.navigation nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.navigation nav a {
    text-decoration: none;
    color: #222;
}

.navigation nav a:hover {
    color: #034BFF;
    text-decoration: underline;
}

.recherche-barre {
    width: 10%;
    text-align: center;
    margin-right: -50px;
}

.recherche-barre img {
    width: 25px;
}

.button-inscription {
    width: 15%;
    text-align: center;
}

.button-inscription a {
    background-color: #034BFF;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
}

.section1 {
    display: flex;
    flex-direction: row-reverse;
}

.image {
    width: 60%;
}

.image img {
    width: 100%;
    height: 100%;
}

.texte {
    width: 40%;
    color: white;
    background-color:#08111D;
    font-family: "UM6P Text", "Inter", "Helvetica Neue", Arial, sans-serif;
    padding: 90px;
}

.texte h1 {
    font-size: 80px;
    line-height: 0.85;
    margin-bottom: 10px;
}

.texte h1 span {
    color: #034BFF;
}

.texte strong {
    font-weight: bold;
    font-size: 40px;
    display: block;
    margin-top: 0;
}

.btn-primary {
    
    padding: 10px;
    border-radius: 5px;
    border-color: #08111D;
    background-color: #034BFF;
    color: white;
    

}

.btn-secondary {
    padding: 10px;
    border-radius: 5px;
    border-color: #034BFF;
    background-color: #08111D;
    color: white;
}